body {
  color: blue; }

p {
  position: relative;
  width: 120px;
  height: 120px;
  line-height: 120px;
  background-color: #ffa9e1;
  box-shadow: 0 0 10px #000;
  border-radius: 20px;
  text-align: center; }
